html, body {
	font: 16px/24px sans-serif;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	/*background: #C60C30;*/
	/*color: white;*/
	font-size: 32px;
	line-height: 96px;
	padding: 0 1em;

	text-align: left;
}

header .logo {
	width: 200px;
	height: 74px;
	vertical-align: middle;
	margin-right: 0.2em;
}

header h1 {
	display: inline;
	font-size: 1em;
}

footer {
	text-align: center;
}

.content {
	max-width: 40em;
	margin: 2em auto;
	padding: 0 2em;
}

.content section {
	/*border-bottom: 1px solid #ddd;*/
	margin-bottom: 2em;
}

.content h2 {
	font-family: Helvetica, Arial, sans-serif;
}

.content p {
	font-family: Georgia, times, serif;
}

.content blockquote {
	margin-left: 2em;
}

.content form label,
.content form .call-to-action {
	display: block;
	font-family: Georgia, times, serif;
}

.content form label + input,
.content form label + textarea {
	display: block;
	font: inherit;
	width: 30em;
	margin-bottom: 1em;
	border: 1px solid #ccc;
	padding: 0.2em;
}

.content form input[type=checkbox] + label {
	vertical-align: top;
	display: inline-block;
	margin-bottom: 1em;
}

.content form button {
	display: inline-block;
	font-family: Georgia, times, serif;
	font-size: inherit;
	padding: 0.5em 1em;
	margin: 0 0.5em 0 0;
}

.content form button + .call-to-action {
	display: inline;
}

.content table {
	border-spacing: 0;
    border-collapse: collapse;
	font-family: Georgia, times, serif;
	width: 100%;
}

.content table thead th {
	text-align: left;
	border-bottom: 1px solid #eee;
}

.content table th,
.content table td {
	padding: 0.2em 0.5em;
	border-right: 1px solid #eee;
}

.content table th:first-child,
.content table td:first-child {
	padding-left: 0;
}

.content table th:last-child,
.content table td:last-child {
	padding-right: 0;
	border-right: none;
}

.share-link {
	display: inline-block;
	width: 50%;
	text-align: center;
	padding: 1em 0;
}

.stories {
	border-top: 1px solid #ccc;
}

.story {
	margin: 2em 0;
}

.story p {
	word-wrap: break-word;
	margin: 0.5em 0;
}

.story blockquote {
	margin: 0.5em 0;
}

.story blockquote p:first-child:before {
	content: '“';
}

.story blockquote p:last-child:after {
	content: '”';
}

.author:before {
	color: #ccc;
	content: '~ ';
}

.author .name {
	font-style: italic;
}

.story .permalink {
	color: #ccc;
	text-decoration: none;
}

.story .permalink:hover {
	text-decoration: underline;
}

.plea {
	font-weight: bold;
}
